# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\r_qia\Documents\UF\Fall 2023\CNT4007 Computer Network Fundamentals\intellij\p2p-file-sharing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
